.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    max-width: 12%;
    height: auto;
    
}
.navbar .profile{
    width: 40px;
}